workspace.json
.info_json_db
.infio_json_db
cursor-positions.json


# Ignore Smart Environment folder
.smart-env
/.obsidian/plugins/remember-cursor-position/cursor-positions.json

/.obsidian/plugins/image-converter/image-converter-image-alignments.json